@c mTitle {
  @d wrap {
    display: flex;
    width: 100%;
    .line {
      flex: 1;
      position: relative;
      top: -6px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .text {
      padding: 0 12px;
      font-weight: 700;
      font-size: 14px;
    }
  }
}
